<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Report</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid bg-secondary text-white p-3 text-center">
    <h1>Welcome to Data Report Web Application</h1>
    <p>
        Data Report scrape data from the webpages and store them into different
        files.
    </p>
</div>

<div class="row-cols-3 d-flex align-content-start justify-content-center mt-5 p-3 gap-2">
    <div class="border border-2 border-light-subtle bg-white shadow-lg p-3">
        <h1>File properties</h1>
        <div class="mt-5 d-flex flex-column">
            <label class="fs-5 mb-2">Title</label>
            <input type="text" class="form-control" name="title of config file"
                   aria-describedby="title" placeholder="Enter title">
        </div>

        <div class="mt-4 d-flex flex-column">
            <label class="fs-5 mb-2">Description</label>
            <textarea class="form-control" name="description of config file" rows="3"
                      aria-describedby="description" placeholder="Enter description"></textarea>
        </div>

        <div class="mt-4 d-flex flex-column">
            <label class="fs-5 mb-2">File Type</label>
            <select class="form-control" name="file type">
                <option>Not Set</option>
                <option>Excel</option>
            </select>
        </div>

        <div class="mt-4 d-flex flex-column">
            <label class="fs-5 mb-2">File Extension</label>
            <select class="form-control" name="file extension">
                <option>Not Set</option>
                <option>.xlsx</option>
            </select>
        </div>
    </div>
    <div class="border border-2 border-light-subtle bg-white shadow-lg p-3">
        <h1>Data Properties</h1>
        <div class="mt-5 d-flex flex-column">
            <label class="fs-5 mb-2">URL</label>
            <div class="d-flex align-items-center">
                <input type="text" class="form-control w-75" name="url of page"
                       aria-describedby="URL" placeholder="Enter URL">
                <button class="btn btn-info text-white ms-3" id="set-url">Set URL</button>
            </div>
        </div>

        <div class="mt-4 d-flex flex-column">
            <label class="fs-5 mb-2">Name</label>
            <input type="text" class="form-control" name="name of data element"
                   aria-describedby="name" placeholder="Enter name of data element">
        </div>

        <div class="mt-4 d-flex flex-column">
            <label class="fs-5 mb-2">CSS Selector</label>
            <input type="text" class="form-control" name="selector of data element"
                   aria-describedby="selector" placeholder="Enter CSS selector">
        </div>

        <div class="mt-4 form-group form-check">
            <input type="checkbox" class="form-check-input" id="has-children">
            <label class="form-check-label" for="has-children">Element has children?</label>
        </div>

        <div class="mt-4 d-flex flex-column d-none" id="children-selection">
            <label class="fs-5 mb-2">Children</label>
            <select class="form-control" name="file extension">
                <option>Not Set</option>
                <option>title</option>
                <option>description</option>
            </select>
        </div>


        <div class="float-end mt-4">
            <button class="btn btn-success">Add element</button>
        </div>
    </div>
    <div class="border border-2 border-light-subtle bg-white shadow-lg p-3" style="max-height: 650px; overflow: auto;">
        <h1>HTML Elements</h1>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
        <div class="w-100 fs-4 mt-3 bg-light border border-2 p-3">
            <p class="m-0">1. Title:Selector <span class="float-end text-danger text-decoration-underline">Remove</span>
            </p>
        </div>
    </div>
</div>

<script>
    const hasChildrenCheck = document.querySelector("#has-children");
    const childrenSelection = document.querySelector("#children-selection");
    const setUrlBtn = document.querySelector("#set-url");

    hasChildrenCheck.addEventListener("click", (e) => {
        const isChecked = e.target.checked;

        if (isChecked) {
            childrenSelection.classList.remove("d-none");
        } else {
            childrenSelection.classList.add('d-none');
        }
    })

    setUrlBtn.addEventListener("click", () => {
        //TODO: Insert validation
    })

</script>
</body>
</html>